/* image */
.alith_post_thumb img{
    border: 1px solid rgb(2, 2, 198);
    border-radius: 7px;
}

/* image Edit */
#RecentPageEdit{
    position: absolute; 
    top: 50px;
    right: 180px;
    width: 25px;
    height: 25px;
    border-radius: 100%; 
    overflow: hidden; 
    box-shadow: 0px 0px 6px rgb(154, 119, 119);
    transition: all 0.5s;
}
#RecentPageEdit:hover{
    box-shadow: rgba(4, 0, 255, 0.844) 0px 2px 4px 0px, rgba(0, 225, 255, 0.844) 0px 2px 16px 0px;
}

/* image delete */
#RecentPagedelete{
    position: absolute;
    top: 50px;
    right: 130px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    box-shadow: 0px 0px 6px rgb(154, 119, 119);
    overflow: hidden;
    transition: all 0.5s;
}
#RecentPagedelete:hover{
    box-shadow: rgba(4, 0, 255, 0.844) 0px 2px 4px 0px, rgba(0, 225, 255, 0.844) 0px 2px 16px 0px;
}